html, body {
  margin: 0;
  height: 100%;
  background-color: #000000;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
  font: 10px sans-serif;
}

path {
  stroke:rgb(255, 255, 255);
  stroke-width: 3.5px;
}

.flex-container {
  display: flex;
}

h2 {
  color: #89f6f3;
  font-family: verdana;
  font-size: 150%;
}

.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

svg text{
  fill:grey;
  font-size:11px;
}

svg .values text{
  pointer-events:none;
  stroke-width: 0.5px;
}

.groups:hover{
  cursor:pointer;
  font-weight:bold;
}
